p {margin:5px;}
h3 {margin:5px;}
h1 {margin: 15px;}
form {margin: 15px; margin-top: 20px;}
input {padding: 2px; padding-left: 5px; padding-right: 5px;}
.randomsContainer {display:flex;}
.randomsItem {margin: 10px; max-width: 250px; width: 250px;}
.trackContainer {margin: 15px;}
th {text-align: left;}