<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Ituns | error</title>
</head>
<body>
    <p th:text="${message}" />
</body>

</html>