<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <title>Ituns</title>
        <link rel="stylesheet" th:href="@{/css/main.css}">
    </head>

    <body>
        <h1> HOME PAGE </h1>

        <div class="randomsContainer">
            <div class="randomsItem">
                <h3> 5 Random artists </h3>
                <p th:each="artist : ${artists}"
                   th:text="${artist.getName()}"></p>
            </div>

            <div class="randomsItem">
                <h3> 5 Random tracks </h3>
                <p th:each="track : ${tracks}"
                   th:text="${track.getName()}"></p>
            </div>

            <div class="randomsItem">
                <h3> 5 Random genres </h3>
                <p th:each="genre : ${genres}"
                   th:text="${genre.getName()}"></p>
            </div>
        </div>

        <form action="#" th:action="@{/search}" th:object="${search}" method="get" id="form">
            <input type="text" th:field="*{query}" id="text" placeholder="Search for a track"/>
            <input type="submit" value="Search for track" id="submitButton"/>
        </form>

        <script th:src="@{/js/index.js}"></script>
    </body>
</html>