<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Ituns | search</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <h1 th:text="${search.query}" />
    <table th:each="track : ${tracks}" class="trackContainer">

        <tr>
            <th>Name</th>
            <td><p th:text="${track.getName()}"></p></td>
        </tr>
        <tr>
            <th>Artist</th>
            <td> <p th:text="${track.getArtist()}"></p></td>
        </tr>
        <tr>
            <th>Album</th>
            <td><p th:text="${track.getAlbum()}"></p></td>
        </tr>
        <tr>
            <th>Genre</th>
            <td><p th:text="${track.getGenre()}"></p></td>
        </tr>
    </table>
</body>

</html>